@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* banner section style form here */

.banner-container{

        border-radius: 16px;
        background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width:1320px; 
        min-height: 600px;
        margin: 0px auto;
        margin-top: 20px;       
        
}

.banner-content{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    
}


.banner-content .new-year-head{
    font-size: 72px;
    color: white;
    font-weight: 900;
    
}

.banner-content .new-year-title{
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
}

/* 65% section style  */

.holyday-container{
    
    width:800px ;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-top: 90px;
    
}

.holyday-content{
    /* text-align: center; */
}
.holyday-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.holyday-content p{
    font-size: 24px;
    font-weight: 500px;
    color: rgb(255, 0, 0);
    margin-bottom: 16px;
}

.holyday-content h3{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.holyday-content img{
    background-position: center;
    background-size: contain;
    margin-bottom: 120px;
    width: 802.9px;
    height: 500px;
    
}

/* mid night party section style */

.midnight-party-container{
    /* border: 2px solid red; */
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.left-side-content{
    /* width: 50%; */
    height: 600px;
    /* border: 2px solid green; */
    margin-left: 125px;
    margin-top: 125px;


}
.left-side-content h1{
    color: white;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    text-align: left;
    margin-bottom: 24px;
    /* padding-left: 125px; */
    

}

.left-side-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 35px;
    margin-bottom: 48px;
}

.left-side-content h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-bottom: 140px;
}


.right-side-content{
    
    padding: 68px 108px 68px 0;
    width: 349.16px;
    height: 464.65px;
    width: 50%;
    height: 600px;
    /* border: 2px solid blue; */

}

.box-container{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;

}

.box-content{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height:56px;
    padding: 100px 105px 150px 285px;
    margin-right: 100px;
       
}
.box-content .box-head{
    color: rgb(255, 0, 0);
    
}

.box-content .btn{
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(255, 0, 0) ;
    color: white;
    border: none;
    margin-top: 65px;
    /* margin-left: 570px; */
    margin-right: 100px;
}

.offer-container{
    width: 1320px;
    height: 500px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;

}

.left-offer-content{
    padding-right: 70px;
    margin-left: 5px;
}
.left-offer-content h4{
    color:rgb(255, 0, 0) ;
    font-size: 24px;
    font-weight: 500;
    
}
.left-offer-content h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    color: rgb(7, 2, 17);
}

.left-offer-content p{
    color:rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}


.right-offer-content{
    padding-left:115px ;
    margin-top: 110px;
}

.right-offer-content h1{
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.right-offer-content p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
    
}

 .Ellipse{
    border: 15px solid red;
    border-radius: 50%;
    padding: 30px;
}

/* holyday section style start */
.holyday-sectoin-container{
    
    margin: 0 auto;
    width: 1320px;
    height: 986.07px;
    position: relative;
    margin-bottom: 120px;
}

.holyday-content h4{
    color: rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}
.holyday-content h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    text-align: center;
    color: rgb(7, 2, 17);
}
.holyday-content .holi-text{
    color: rgb(255, 0, 0);
}
.holyday-content p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    padding:  0px 125px;
    margin-bottom: 64px  ;
}

.solid-color{
    border-radius: 16px 0px 16px 16px;
    background: rgb(255, 0, 0);
    width: 1320px;
    height: 229px;
    position: absolute;
    top: 77%;
    
}

.left-right-image{
    display: flex;

}
.gift-box{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index:1;
}
.offer-image{
    width: 305.69px;
    height: 305.69px;
    margin-top: 100px;
    margin-right: 170px;
    margin-bottom: 50px;
    margin-left: 180px;
}

/* The best gift section style here */

.best-gift-container{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.best-gift-description h5{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.best-gift-description h1{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 16px;
    margin-bottom: 22px;
}

.best-gift-description p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.gift-image img{
    width: 424px;
    height: 450px;
  
}

/* Subscribe Newsletter section style*/

.Subscribe-Newsletter{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: 0 auto;
}

.Newsletter-description img{
    width: 150px;
    height: 150px;
    margin-left: 585px;
    margin-top: 80px;
    
}

.Newsletter-description h1{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    padding: 22px 404px 0px 404px;
    
}

.Newsletter-description p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 22px 212px 48px 212px;
}

.login-btn{
    display: inline-flex;
    width: 620px;
    height: 120px;
    border-radius: 50px;
    background: rgb(255, 0, 0);
    margin-left: 355px;
    padding: 20px;
}
.login-btn input{
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    border: none;
    background-color:rgb(255, 0, 0); ;
}
.subcribe{
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(255, 255, 255);
    
    
}
.subcribe{
    
    margin-left: 100px;
    text-align: center;
    padding: 25px;
    
}
